$border-radius: 0;
$headings-font-weight: bold;

.run-controls {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue-next/src/styles/styles.scss';
